.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.user-grid {
    width: 100%;
    margin: 30px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 425px);
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.user-grid > #user-container {
    width: 100%;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #CCC;
}

#user-container > h1 {
    color: #333;
    font-size: 24px;
}
#user-container > strong {
    color: #666;
    font-size: 14px;
    margin-top: 1.5em;
}

.form {
    padding: 1.5em;
    margin: 30px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    box-shadow: 0px 4px 4px #CCC;
    border-radius: 2px;
}

#username > label {
    font-weight: bold;
    font-size: 15px;
}

#username > input {
    height: 30px;
    font-family: sans-serif;
    padding: 5px;
    color: #888;
    outline: none;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid #999;
    background: none;
}

#age > label {
    font-weight: bold;
    font-size: 15px;
}

#age > input {
    height: 30px;
    font-family: sans-serif;
    padding: 5px;
    color: #888;
    outline: none;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid #999;
    background: none;
}

.form > #username {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
}

.form > #age {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}

.form > button {
    grid-column: 1 / 3;
    height: 40px;
    border: none;
    background-color: #7191cf;
    box-shadow: 0px 4px 4px #CCC;
    border-radius: 2px;
    cursor: pointer;
    font-family: sans-serif;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    margin-top: 1em;
    transition: 0.5s;
}

button:hover {
    border: 1px solid #7191cf;
    background-color: #FFF;
    color: #7191cf;
    box-shadow: none;
}